ENV_CONTAINER_NAME=DB-SIO

#MariaDB conf
MYSQL_ROOT_PASSWORD=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=

#PHPMyAdmin Conf
ENV_PHPMYADMIN_URI=

#PostGres Conf
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=